<h1>Create a New Article</h1>

<%= form_with scope: :article, url: articles_path , method: 'POST', local: true  do |form| %>

    <div>
        <%= form.label :title %>
        <br>
        <%= form.text_field :title %>
    </div> 

    <div>
        <%= form.label :description %>
        <br>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.submit "Create Article" %>
    </div>
<% end %>

